# Global directories
__pycache__/

# Global files
*.py[codz]

# Root files
/*.pyproj
/*.sln
/uv.lock

# Root directories
/.venv/
/venv/
/env*/
/.idea/
/.vscode/
/.vs/
/.coverage_html/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/build/
/dist/
